li
    form(hx-put=`/api/list/${id}`, hx-trigger="submit", hx-target="closest li", hx-swap="outerHTML")
      input(type="text", name="name", value=name, required)
      button(type="submit") Save
    button(hx-delete=`/api/list/${this.id}`, hx-trigger="click", hx-target="closest li", hx-swap="delete") Delete